@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
            "header"    100px
            "navbar"    50px
            "main"      auto
            "sidebar"   200px
            "footer"    100px /
            auto;
}

@media (min-width: 600px){  
    .grid-container {
        grid-template: 
            "header     header"     100px
            "navbar     navbar"     50px
            "sidebar    main"       auto
            "footer     footer"     100px /
            200px       auto;
    }
}


@media (min-width: 900px){  
    .grid-container {
        grid-template: 
            "header     header      header"     100px
            "navbar     main        sidebar"     auto
            "footer     footer      footer"     100px /
            300px       auto        300px;
    }
}